<div class="info container _flex_justify">
    <div class="info__container">
        <p class="info__title">Get in touch</p>
        <a  class="info__link" href="#!">About Us</a>
        <a  class="info__link" href="#!">Careers</a>
        <a  class="info__link" href="#!">Press Releases</a>
        <a  class="info__link" href="#!">Blog</a>
    </div>
    <div class="info__container">
        <p class="info__title">Connections</p>
        <a  class="info__link" href="#!">Facebook</a>
        <a  class="info__link" href="#!">Twitter</a>
        <a  class="info__link" href="#!">Inatsgram</a>
        <a  class="info__link" href="#!">Youtube</a>
        <a  class="info__link" href="#!">LinkedIn</a>
    </div>
    <div class="info__container">
        <p class="info__title">Earnings</p>
        <a  class="info__link" href="#!">Become an Affiliate</a>
        <a  class="info__link" href="#!">Advertise your product</a>
        <a  class="info__link" href="#!">Sell on Market</a>
    </div>
    <div class="info__container">
        <p class="info__title">Account</p>
        <a  class="info__link" href="#!">Your account</a>
        <a  class="info__link" href="#!">Returns Centre</a>
        <a  class="info__link" href="#!">100 % purchase protection</a>
        <a  class="info__link" href="#!">Chat with us</a>
        <a  class="info__link" href="#!">Help</a>
    </div>
</div>