<div class="header">
    <div class="container _flex_justify header__container">
        <div class="header__contacts">
            <a class="header__link _colored" href="#!">Chat with us</a>
            <a class="header__link" href="#!">+420 336 775 664</a>
            <a class="header__link" href="#!">info@freshnesecom.com</a>
        </div>
        <div class="header__menu">
            <a class="header__link _colored" href="#!">Blog</a>
            <a class="header__link _colored" href="#!">About Us</a>
            <a class="header__link _colored" href="#!">Careers</a>
        </div>  
    </div> 
    <div class="header__search _flex_justify container">
        <a class="header__logo" href="#!"><h1>Freshnesecom</h1></a>
        <app-search></app-search>
        <div class="header__images">
            <button class="header__profile" type="button">
                <a href=""><img src="/assets/images/ic-actions-user.png" alt=""></a>
            </button>
            <button class="header__basket" type="button">
                <a href="#!"><img src="/assets/images/ic-ecommerce-basket.png" alt=""></a>
            </button>    
        </div>
    </div>