<div class="catalog-fruit-vegetables container">
    <div class="catalog-fruit-vegetables__link"> 
        <a href="#!" class="catalog-fruit-vegetables__link-home">Homepage</a>
        <p class="slash">/</p>
        <a href="#!"  class="catalog-fruit-vegetables__link-fruit-vegetables">Fruit and vegetables</a>
    </div>
</div>
<div class="catalog-fruit-vegetables container">
    <h1 class="catalog-fruit-vegetables__title">Fruit and vegetables</h1>
</div>
<div class="catalog-fruit-vegetables__filtres container">
    <div class="catalog-fruit-vegetables__filtre">
        <button class="catalog-fruit-vegetables__filtre-button"></button>
        <p class="catalog-fruit-vegetables__filtre-text">Filtre text</p>
        <button class="catalog-fruit-vegetables__filtre-button"></button>
        <p class="catalog-fruit-vegetables__filtre-text">Filtre text</p>
    </div>
    <div class="catalog-fruit-vegetables__filtre-nbm">
        <button class="catalog-fruit-vegetables__filtre-nbm-button"></button>
        <p class="catalog-fruit-vegetables__filtre-text">Filtre text</p>
        <p class="catalog-fruit-vegetables__filtre-nbm-text">Nbm</p>
    </div>
    <div class="catalog-fruit-vegetables__filtre-nbm">
        <button class="catalog-fruit-vegetables__filtre-nbm-button"></button>
        <p class="catalog-fruit-vegetables__filtre-text">Filtre text</p>
        <p class="catalog-fruit-vegetables__filtre-nbm-text">Nbm</p>
    </div>
    <div class="catalog-fruit-vegetables__filtre-select">
        <button class="catalog-fruit-vegetables__filtre-nbm-button"></button>
        <p class="catalog-fruit-vegetables__filtre-text">Filtre text</p>
        <p class="catalog-fruit-vegetables__filtre-nbm-text">12</p>
        <p class="catalog-fruit-vegetables__filtre-select-line">|</p>
        <select class="catalog-fruit-vegetables__filtre-select-text">
            <option class="">Select</option>
        </select>
    </div>
</div>
<div class="catalog-fruit-vegetables__аpplied  container">
    <p class="catalog-fruit-vegetables__аpplied-text">Applied filtres:</p>
    <div class="catalog-fruit-vegetables__selected-filtre">
        <p class="catalog-fruit-vegetables__аpplied-filtres">Selected Filtre</p>
        <a href="#!" class="catalog-fruit-vegetables__аpplied-filtres-closed">×</a>
    </div>
    <div class="catalog-fruit-vegetables__selected-filtre">
        <p class="catalog-fruit-vegetables__аpplied-filtres">Selected Filtre</p>
        <a href="#!" class="catalog-fruit-vegetables__аpplied-filtres-closed">×</a>
    </div>
</div>