<div class="blog container _flex_justify">
    <p class="blog__title">Read our Blog posts</p>
    <a class="blog__button" href="#!">Go to Blog</a>
</div>

<div class="block-wrapper container _flex_justify">
    <div class="block-wrapper__post-image">
        <a class="block-wrapper__post-button" href="#!">Dinner tips</a>
        <p class="block-wrapper__post-text"> Our chef tips for a great and tasty dinner ready in 20 minutes</p>
        <div class="block-wrapper__user">
            <img class="block-wrapper__user-photo" src="/assets/images/Ellipse3.png" alt="">
            <p class="block-wrapper__user-name">Author</p>
            <p class="block-wrapper__user-date">17. 6. 2020</p>
        </div>
    </div>
    
    <div class="block-wrapper__vegetable">
        <img class="block-wrapper__post-food" src="/assets/images/food.png" alt="">
        <p class="block-wrapper__vegetable-title">Vegetable</p>
        <p class="block-wrapper__vegetable-text">Which vegetable your family will love and want’s eat each day</p>
        <div class="block-wrapper__vegetable-user">
            <p class="block-wrapper__vegetable-user-name">Author</p>
            <p class="block-wrapper__vegetable-user-date">15. 6. 2020</p>
        </div>
    </div>
    
    <div class="block-wrapper__recipe">
        <p class="block-wrapper__recipe-text">Salat is kinda good start to your morning routines</p>
        <div class=" block-wrapper__recipe-user">
            <p class="block-wrapper__recipe-user-name">Author</p>
            <p class="block-wrapper__recipe-user-date">14. 6. 2020</p>
        </div>
        <p class="block-wrapper__recipe-text">Salat is kinda good start to your morning routines</p>
        <div class=" block-wrapper__recipe-user">
            <p class="block-wrapper__recipe-user-name">Author</p>
            <p class="block-wrapper__recipe-user-date">14. 6. 2020</p>
        </div>
        <p class="block-wrapper__recipe-text">Salat is kinda good start to your morning routines</p>
        <div class=" block-wrapper__recipe-user">
            <p class="block-wrapper__recipe-user-name">Author</p>
            <p class="block-wrapper__recipe-user-date">14. 6. 2020</p>
        </div>
    </div>
    <div class="block-wrapper__fruits">
        <img class="block-wrapper__fruits-image" src="/assets/images/fruits1.png">
        <img class="block-wrapper__fruits-image" src="/assets/images/fruits2.png">
        <img class="block-wrapper__fruits-image" src="/assets/images/fruits3.png">
    </div>
</div>
