<div class="reviews container _flex_justify">
    <p class="reviews__title">Our customers says</p>
    <a class="reviews__button" href="#!">Button</a>
</div>
<div class="reviews__container">
    <div class="reviews__card">
        <p class="reviews__card-text">“ This is an super space for your customers qoute. Don’t worry it works smooth as pie. You will get all what you need by writiing a text here “</p>
        <p class="reviews__card-name">Name and Surname</p>
        <img class="reviews__card-image" src="/assets/images/Ellipse 1.png" alt="">
    </div>
    <div class="reviews__card">
        <p class="reviews__card-text">“ This is an super space for your customers qoute. Don’t worry it works smooth as pie. You will get all what you need by writiing a text here “</p>
        <p class="reviews__card-name">Name and Surname</p>
        <img class="reviews__card-image" src="/assets/images/Ellipse 1.png" alt="">
    </div>  
    <div class="reviews__card">
        <p class="reviews__card-text">“ This is an super space for your customers qoute. Don’t worry it works smooth as pie. You will get all what you need by writiing a text here “</p>
        <p class="reviews__card-name">Name and Surname</p>
        <img class="reviews__card-image" src="/assets/images/Ellipse 1.png" alt="">
    </div>  
</div>