<div class="product-tags container _flex_justify">
    <p class="product-tags__title">Product tags</p>
</div>
<div class="product-tags__container container">
    <p class="product-tags__text">Beans</p>
    <p class="product-tags__text">Carrots</p>
    <p class="product-tags__text">Apples</p>
    <p class="product-tags__text">Garlic</p>
    <p class="product-tags__text">Mushrooms</p>
    <p class="product-tags__text">Tomatoes</p>
    <p class="product-tags__text">Chilli peppers</p>
    <p class="product-tags__text">Broccoli</p>
    <p class="product-tags__text">Watermelons</p>
    <p class="product-tags__text">Oranges</p>
    <p class="product-tags__text">Bananas</p>
    <p class="product-tags__text">Grapes</p>
</div>
<div class="product-tags__container container">
    <p class="product-tags__text">Cherries</p>
    <p class="product-tags__text">Meat</p>
    <p class="product-tags__text">Seo tag</p>
    <p class="product-tags__text">Fish</p>
    <p class="product-tags__text">Seo tag</p>
    <p class="product-tags__text">Fresh food</p>
    <p class="product-tags__text">Lemons</p>
</div>