<div class="menu">
    <div class="container _flex_justify">
        <ul class="menu__string" id="navbar">
            <li class="menu__elemet"><a class="menu__text" href="#">Bakery</a></li>
            <li class="menu__elemet"><a class="menu__text" href="#">Fruit and vegetables</a></li>
            <li class="menu__elemet"><a class="menu__text" href="#">Meat and fish</a></li>
            <li class="menu__elemet"><a class="menu__text" href="#">Drinks</a></li>
            <li class="menu__elemet"><a class="menu__text" href="#">Kitchen</a></li>
            <li class="menu__elemet"><a class="menu__text" href="#">Special nutrition</a></li>
            <li class="menu__elemet"><a class="menu__text" href="#">Baby</a></li>
            <li class="menu__elemet"><a class="menu__text" href="#">Pharmacy</a></li>
        </ul>
    </div>
</div>