:host {

    .menu {
        width: 100%;
        background-color:  #F9F9F9;
        padding: 16px 0px;
        margin-top: 50px;

        &__text {
        text-decoration: none;
        color: #151515;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        }

        &__elemet{
            display: inline;

            &:not(:first-child) {
                margin-left: 70px;
            }
        }
    }

    #navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
    }
}