<div class="fruit-vegetables-categories container">
    <h2 class="fruit-vegetables-categories title">Categories</h2>
</div>
<div class="fruit-vegetables-categories__link">
    <a href="#!" class="fruit-vegetables-categories__name">Category name</a>
    <p class="fruit-vegetables-categories__name-number">320</p>
</div>
<div class="fruit-vegetables-categories__link">
    <a href="#!" class="fruit-vegetables-categories__name">Category name</a>
    <p class="fruit-vegetables-categories__name-number">112</p>
</div>
<div class="fruit-vegetables-categories__link">
    <a href="#!" class="fruit-vegetables-categories__name">Category name</a>
    <p class="fruit-vegetables-categories__name-number">32</p>
</div>
<div class="fruit-vegetables-categories__link">
    <a href="#!" class="fruit-vegetables-categories__name">Category name</a>
    <p class="fruit-vegetables-categories__name-number">48</p>
</div>
<h2 class="fruit-vegetables-categories__brands-title">Brands</h2>
<div class="fruit-vegetables-categories__brands">
    <button class="fruit-vegetables-categories__brands-button"></button>
    <p class="fruit-vegetables-categories__brands-filtre">Filtre by brand item</p>
</div>
<div class="fruit-vegetables-categories__brands">
    <button class="fruit-vegetables-categories__brands-button"></button>
    <p class="fruit-vegetables-categories__brands-filtre">Filtre by brand item</p>
</div>
<div class="fruit-vegetables-categories__brands">
    <button class="fruit-vegetables-categories__brands-button"></button>
    <p class="fruit-vegetables-categories__brands-filtre">Filtre by brand item</p>
</div>
<div class="fruit-vegetables-categories__brands">
    <button class="fruit-vegetables-categories__brands-button"></button>
    <p class="fruit-vegetables-categories__brands-filtre">Filtre by brand item</p>
</div>
<div class="fruit-vegetables-categories__brands">
    <button class="fruit-vegetables-categories__brands-button"></button>
    <p class="fruit-vegetables-categories__brands-filtre">Filtre by brand item</p>
</div>
<h2 class="fruit-vegetables-categories__rating-title">Rating</h2>
<div class="fruit-vegetables-categories__rating">
    <button class="fruit-vegetables-categories__rating-button"></button>
    <img class="fruit-vegetables-categories__rating-stars" src="/assets/images/Vector.png" alt="">
    <img class="fruit-vegetables-categories__rating-stars" src="/assets/images/Vector.png" alt="">
    <img class="fruit-vegetables-categories__rating-stars" src="/assets/images/Vector.png" alt="">
    <img class="fruit-vegetables-categories__rating-stars" src="/assets/images/Vector.png" alt="">
    <img class="fruit-vegetables-categories__rating-stars" src="/assets/images/Vector.png" alt="">
</div>
<div class="fruit-vegetables-categories__rating">
    <button class="fruit-vegetables-categories__rating-button"></button>
    <img class="fruit-vegetables-categories__rating-stars" src="/assets/images/Vector.png" alt="">
    <img class="fruit-vegetables-categories__rating-stars" src="/assets/images/Vector.png" alt="">
    <img class="fruit-vegetables-categories__rating-stars" src="/assets/images/Vector.png" alt="">
    <img class="fruit-vegetables-categories__rating-stars" src="/assets/images/Vector.png" alt="">
    <img class="fruit-vegetables-categories__rating-stars" src="/assets/images/Vector2.png" alt="">
</div>
<div class="fruit-vegetables-categories__rating">
    <button class="fruit-vegetables-categories__rating-button"></button>
    <img class="fruit-vegetables-categories__rating-stars" src="/assets/images/Vector.png" alt="">
    <img class="fruit-vegetables-categories__rating-stars" src="/assets/images/Vector.png" alt="">
    <img class="fruit-vegetables-categories__rating-stars" src="/assets/images/Vector.png" alt="">
    <img class="fruit-vegetables-categories__rating-stars" src="/assets/images/Vector2.png" alt="">
    <img class="fruit-vegetables-categories__rating-stars" src="/assets/images/Vector2.png" alt="">
</div>
<div class="fruit-vegetables-categories__rating">
    <input type="radio" class="custom-checkbox" id="appy"  value="on">
    <label for="appy"></label>
    <img class="fruit-vegetables-categories__rating-stars" src="/assets/images/Vector.png" alt="">
    <img class="fruit-vegetables-categories__rating-stars" src="/assets/images/Vector.png" alt="">
    <img class="fruit-vegetables-categories__rating-stars" src="/assets/images/Vector2.png" alt="">
    <img class="fruit-vegetables-categories__rating-stars" src="/assets/images/Vector2.png" alt="">
    <img class="fruit-vegetables-categories__rating-stars" src="/assets/images/Vector2.png" alt="">
</div>
<div class="fruit-vegetables-categories__rating">
    <input type="radio" class="custom-checkbox" id="happy"  value="on">
    <label for="happy"></label>
    <img class="fruit-vegetables-categories__rating-stars" src="/assets/images/Vector.png" alt="">
    <img class="fruit-vegetables-categories__rating-stars" src="/assets/images/Vector2.png" alt="">
    <img class="fruit-vegetables-categories__rating-stars" src="/assets/images/Vector2.png" alt="">
    <img class="fruit-vegetables-categories__rating-stars" src="/assets/images/Vector2.png" alt="">
    <img class="fruit-vegetables-categories__rating-stars" src="/assets/images/Vector2.png" alt="">
</div>
<h2 class="fruit-vegetables-categories__price-title">Price</h2>
<div class="fruit-vegetables-categories__price">
    <div class="fruit-vegetables-categories__price-line">
        
    </div>
</div>


